<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigigo.orchextra.scanner">

  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:supportsRtl="true">
    <activity
        android:name=".ScannerActivity"
        android:theme="@style/OxAppTheme.NoActionBar"
        android:screenOrientation="portrait">
    </activity>
  </application>

</manifest>