<!--
  ~ Created by Orchextra
  ~
  ~ Copyright (C) 2016 Gigigo Mobile Services SL
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
    package="com.gigigo.orchextra">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <!-- Notification Push -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <permission android:name="${applicationId}.permission.C2D_MESSAGE"       android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
  <!-- Notification Push End -->
  <uses-permission-sdk-23 tools:node="removeAll" />

  <application
    android:allowBackup="false"
    android:supportsRtl="true"
    tools:overrideLibrary="com.google.android.gms.location"
    tools:replace="android:allowBackup">

      <activity
          android:name=".ui.webview.OxWebViewActivity"
          android:theme="@style/OxAppThemeNoBar"
          android:screenOrientation="portrait"/>

      <activity
          android:name=".ui.scanner.OxScannerActivity"
          android:screenOrientation="portrait"
         android:launchMode="singleInstance"
          android:theme="@style/OxAppThemeNoBar"/>

    <activity
        android:name=".device.notifications.NotificationActivity"
        android:theme="@style/OxAppTransparent">
    </activity>


      <receiver android:name=".sdk.background.OrchextraBootBroadcastReceiver">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>

      <service
          android:name=".sdk.background.OrchextraBackgroundService"
          android:icon="@drawable/ox_notification_large_icon"
          android:label="@string/ox_app_name"/>

      <!-- Notification Push -->
      <service
          android:name=".sdk.background.OrchextraGcmTaskService"
          android:exported="true"
          android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
          <intent-filter>
              <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
          </intent-filter>
      </service>

      <service android:name=".device.geolocation.geofencing.pendingintent.GeofenceIntentService"/>

      <receiver
          android:name="com.google.android.gms.gcm.GcmReceiver"
          android:exported="true"
          android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <category android:name="com.example.gcm" />
          </intent-filter>
      </receiver>

      <service
          android:name=".device.notificationpush.OrchextraGcmListenerService"
          android:exported="false" >
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          </intent-filter>
      </service>
      <!-- Notification Push End -->

    <receiver android:name=".device.imagerecognition.ImageRecognitionReceiver" >
      <intent-filter>
        <action android:name="com.gigigo.imagerecognition.intent.action.RECOGNIZED_IMAGE"/>
      </intent-filter>
    </receiver>

      <receiver android:name=".device.notifications.NotificationReceiver" android:enabled="true" >
          <intent-filter>
              <action android:name="com.gigigo.imagerecognition.intent.action.NOTIFICATION_BROADCAST" /> //todo this action schema not c00l, not 4 all
          </intent-filter>
      </receiver>

    </application>

</manifest>
