<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigigo.orchextra.imagerecognizer"
>

  <application android:allowBackup="true"
      android:supportsRtl="true"
  >
    <activity
        android:name=".ImageRecognizerActivity"
        android:theme="@style/OxAppTheme.NoActionBar"
        android:screenOrientation="portrait">
    </activity>

    <receiver android:name=".ImageRecognizerReceiver" >
      <intent-filter>
        <action android:name="com.gigigo.imagerecognition.intent.action.RECOGNIZED_IMAGE"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
